@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
body {
  font-family: "Inter", sans-serif;
  @apply bg-base-300;
}

@layer utilities {
  .background-color {
    @apply relative overflow-hidden;
  }

  .background-color::before {
    content: "";
    @apply absolute inset-0 bg-gradient-to-r from-pink-500 via-fuchsia-400 to-yellow-400 transition-opacity duration-500;
    opacity: 1;
  }

  .background-color::after {
    content: "";
    @apply absolute inset-0 bg-gradient-to-r from-pink-500 via-fuchsia-400 to-yellow-400 transition-opacity duration-500;
    opacity: 0;
  }

  .background-color:hover::before {
    opacity: 0;
  }

  .background-color:hover::after {
    opacity: 1;
  }
  .text-color {
    @apply bg-gradient-to-r from-pink-500 via-fuchsia-400 to-yellow-400 text-transparent bg-clip-text;
  }
}
.background-color span {
  @apply relative z-10;
}
